html {
    background-color: #f9fbf4;
    width: 80%;
    margin: auto;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf');
}

body {
    font-family: 'Poppins', Serif;
    padding-bottom: 5em;
}

#title { /* all the pages's titles */
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    text-transform: uppercase;
}

#feedback {
    text-align: center;
    color: red;
}

/* MENU */

header {
    overflow: auto;
    border-bottom: 2px solid;
    margin-bottom: 2em;
    text-transform: uppercase;
}

header h1{
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 15%;
    font-size: 2.5em;
}

nav {
	display: flex;
	flex-flow: row wrap;
}

nav #auth {
	margin-left: auto;
	flex-grow: 1;
	justify-content: flex-end;

}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

nav li {
    font-size: 1.5em;
    list-style-type: none;
    margin: auto 2em auto 0;
}

nav #auth li {
	align-items: right;
	margin: auto 0 auto 2em;
}

nav ul li h2 {
	display: inline;
}

nav a:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
}

nav a:hover:after {
    transform: scaleX(1);
}

a {
    text-decoration: none;
    color: black;
}

/* HOMEPAGE */

#homepage p {
    text-align: center;
}

#homepage img {
    display: block;
    margin: auto;
    width: 20%;
    margin-top: 3em;
}

/* GALLERY */

#titleGallery {
    text-align: center;
    text-transform: uppercase;
}


#gallery ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;
}

#gallery li {
    width: 20em;
    height: 20em;
    list-style-type: none;
    text-align: center;
  	margin-bottom: 1em;
    border: 2px solid grey;
    box-shadow: 2px 2px 2px #888888;
    transform: scale(1);
    transition: 0.20s all ease;
    
}

#gallery img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 14em;
    border: 1px solid black;
    position: absolute;
    top: 3em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#gallery li:hover {
    transform: scale(1.05);
    border: 2px solid grey;
}

#gallery h4 {
    margin-top: 0.5em;
}

/* IMAGE PAGE */

#imagePage img {
    width: 75%;
    display: block;
    margin: auto;
    border: 1px solid black;
}

#metadata p {
    text-align: justify;
}

h3 {
    text-align: center;
}

#map {
    border: solid 1px;
    margin: auto;
    width: 40em;
    height: 20em;
}

#manageAndShare {
    display: flex;
    justify-content: space-between;
}

#shareButtons img {
    width: 3em;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

#managebuttons {
    width: 60%;
}

/* SIGN IN AND SIGN UP PAGE */

form {
    border: 1px solid grey;
    box-shadow: 2px 2px 2px #888888;
    padding: 4em 3em 6em 3em;
    text-align: center;
    border-radius: 5px;
}

#sign div {
    width: 80%;
}

label {
    display: block;
    text-align: left;
    margin-top: 1em;
}

form input, form textarea {
    width: 100%;
    text-align: left;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

form button, #manage #confirm, .managebutton, #fileContainer {
    display: inline-block;
    border:1px solid #bfbfbf;
    color: black;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    width: 50%;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    margin-top: 2em;
}

.managebutton {
    margin: 0.2em 1em 0 0;
    width: 50%;
}

form button:hover, form button:active, .managebutton:hover, .managebutton:active {
    border: 1px solid #8c8c8c;
    box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
    background-color: #f2f2f2;
}

/* MANAGE PAGE */
#manage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#manage input {
    margin: auto;
}

progress{
    display: block;
    margin: 2em auto auto auto;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 300px;
    height: 20px;
    padding: 3px 3px 2px 3px;
    background: #333; 
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2);   
}
/*
progress {
    border-radius: 2px; 
    background-size: 100px 20px, 100% 100%, 100% 100%;
    margin: 2em auto auto auto;
    width: 50%;
    display: block;
}*/

#metadata {
    padding: 2em 4em 3em 3em;
}

hr {
    width: 80%;
    margin-top: 4em;
    margin-bottom: 4em;
}

#fileContainer {
    overflow: hidden;
    position: relative;
}

#fileContainer [type=file] {
    cursor: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#fileContainer {
    cursor: pointer;
}


/* ABOUT PAGE */

#realized {
    text-align: center;
    font-style: italic;
}

.about {
    text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    nav ul {
        margin: auto;
    }
}

@media (max-width: 900px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    nav li {
        margin: auto;
    }
    #imagePage img {
        width: 100%;
    }
    #gallery ul {
        justify-content: space-around;
    }
}